@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* VARIÁVEIS PARA CORES */
:root {
    --cor1: #592B1B;
    --cor2: #A67360;
    --cor3: #BF907E;
    --cor4: #F2C1AE;
    --cor5: #000101;

    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-titulo: "Julius Sans One", sans-serif;
    --fonte-destaque: "Cormorant Upright", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CORPO */
body {
    width: 100%;
    margin: 0px;
    background-color: var(--cor4);
    padding: 0px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* MENU */
}

header{
    width: 100%;
    background-color: white;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 1px 1px 7px #0001013a;
    
}

.logo-contato {
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

header .logo-contato {
    width: 100%;
}

#instagram-logo {
    max-height: 60px; /* Redimensiona os ícones para dispositivos móveis */
}

#logowhatsapp {
    margin-top: 10px;
    max-height: 40px;
}

/* LOGO */
#logolara {
    height: 70PX;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#logolaradiv {
    height: 50px;
    left: auto;
}

/* titulo lara veiga nail designer */
#laravtitulo1 {
    max-width: 100%;
    font-size: 2em; /* Reduz o tamanho do título para dispositivos móveis */
    padding: 10px 0;
}

/* NAVEGAÇÃO MENU */

#menunav {
    text-align: center;
    max-width: 100%;
}

#menunav a {
    width: 100px;
    padding: 2px 15px 2px 15px;
    font-weight: bold;
    color: var(--cor2);
    border-radius: 5px;
    margin: 0 40px 0 40px;
    transition-duration: 0.3s;
}

#menunav a:hover {
    background-color: var(--cor2);
    color: white;
}

/* CADA INTEM DO MENU */
.itens-menu {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    color: black;
}

/* toda partde de cima (nome e logo) */
.cabeçalho {
    width: 100%;
    text-align: center;
    padding: 15px 0 0 0;
    align-content: center;
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
}


/* toda partde de cima (nome e logo) */
.menu {
    background-color: white;
    font-family: var(--fonte-titulo);
    color: var(--cor2);
    text-align: center;
    border-radius: 10px;
    height: auto;
    max-width: 500px;
    min-width: 400px;
    margin: 230px auto 30px auto;
    padding: 20px
}

.menu h3 {
    padding: 20px;
    color: var(--cor1);
}

.menu a  {
    text-decoration: none;
    color: var(--cor1);
}

.menu a:hover {
    color: red;
}


.checkbox {
    color: #000000;
    font-family: var(--fonte-padrao);
    display: inline-flex;
    border: transparent;
    background-color: transparent;
    font-size: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

.checkbox:active {
    color: red;
}

#login {
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
}

#password {
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    font-size: 0.7em;
}

.mostrarsenha {
    display: inline-flex;
    
}

input[type="checkbox"] {
    width: 20px;    
    padding-top: 20px;
    border: solid 2px black;
}

.botoes {
    margin: 20px 20px 20px 110px ;
    padding: 5px 20px;
    color: var(--cor1);
    text-decoration: none;
    border: solid 1px var(--cor3);
    border-radius: 10px;
    background-color:  transparent;
}

.botoes:hover {
    color: white;
    background-color: var(--cor4);
}



#rodapealto {
    background-color: white;
    display: flex;
    width: auto;
    min-height: 130px;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0 0 0;
    padding: 40px;
    bottom: 0; 
}

#negrito {
    font-weight: bold;
}

#logowhatsapp-rodape {
    display: flex;
    height: 40px;
    margin-top: 10px;
}

.rodape {
    background-color: white;
    color: #00010173;
    font-size: 12px;
    text-align: center;
}

.link-github {
    color: #00010173;
}

.link-github:hover {
    color: #000000;
}

@media (max-width: 450px) {

    #menunav a {
        width: 100px;
        padding: 2px 10px;
        border-radius: 5px;
        margin: 0 auto 0 auto;
        transition-duration: 0.3s;
    }
    
    #menunav a:hover {
        background-color: var(--cor2);
        color: white;
    }
    
    /* CADA INTEM DO MENU */
    .itens-menu {
        font-size: 0.8em;
        padding: 0px 0px 0px 0px;
        margin: auto 10px;
        text-decoration: none;
        color: black;
    }

    #instagram-logo {
        max-height: 40px; /* Redimensiona os ícones para dispositivos móveis */
    }
    
    #logowhatsapp {
        margin-top: 5px;
        max-height: 30px;
    }
}